<h1>Listing markus</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Month</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markus.each do |marku| %>
      <tr>
        <td><%= marku.post %></td>
        <td><%= marku.weight %></td>
        <td><%= marku.height %></td>
        <td><%= marku.month %></td>
        <td><%= marku.photo %></td>
        <td><%= link_to 'Show', marku %></td>
        <td><%= link_to 'Edit', edit_marku_path(marku) %></td>
        <td><%= link_to 'Destroy', marku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marku', new_marku_path %>
