<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2 class="text-center">Войти</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizomtal" } ) do |f| %>
        <div class="form-group">
          <%= f.label :email, "Почта:", class: "col-lg-3 control-label text-left" %>
          
          <div class="col-lg-9">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "name@mail.ru" %>
          </div>
        </div>
      
        <div class="form-group">
          <%= f.label :password, "Пароль:", class: "col-lg-3" %>
          <div class="col-lg-9">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password;)" %>
          </div>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.label :remember_me, "Запомнить меня", class: "col-lg-3 text-left" %>
            <div class="col-lg-9">
              <%= f.check_box :remember_me, class: "" %> 
            </div>
    
          </div>
        <% end -%>
        <div class="form-group"> 
          <div class="col-lg-9 col-lg-offset-3"><%= f.submit "Вход", class: "btn btn-success" %></div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
  </div>
</div>
