  <header class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "Блог Маркуса", root_path, id: "logo", class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% (1..12).to_a.each do |i| %>
          <li><a href="/markus/<%= i %>"><%= i %></a></li>
        <% end %>
        <li><%= link_to "Вход",  new_user_session_path %></li>
        <li><%= link_to "Регистрация",  new_user_registration_path %></li>
      </ul>
    </nav>
  </header>
